absl-py
cachetools
certifi
charset-normalizer
cloudpickle
Farama-Notifications
filelock
google-auth
google-auth-oauthlib
grpcio
gymnasium
idna
importlib-metadata
# install
Jinja2
joblib
Markdown
MarkupSafe
mpmath
networkx
numpy==1.26.0
oauthlib
Pillow
protobuf
psutil
pyasn1
pyasn1-modules
pygame
pyparsing
PyYAML
requests
requests-oauthlib
rsa
scikit-learn
scipy
sympy
tensorboard
tensorboard-data-server
threadpoolctl
torch==2.5.1
torch-geometric
-f https://download.pytorch.org/whl/cpu/torch_stable.html
-f https://data.pyg.org/whl/torch-2.5.1+cu121.html
torch-scatter
torch-sparse
torchaudio
torchvision
tqdm
typing_extensions
urllib3
Werkzeug
zipp
